<% provide(:title, 'Welcome') %>
<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>

<div id="landing-header">
	<div class="container">
		<h4 style="text-align:left; font-family: 'Share Tech', sans-serif; font-size: 36px;">CodeAge</h4>
	</div>
</div>

<div class="container">
	<h2 class="center">I want to learn...</h2>
	<div class="span6 offset3" id="tags-container">
		<span class="tags"> Programming </span>
		<span class="tags"> Ruby on Rails </span>
		<span class="tags"> Web Development </span>
		<span class="tags"> Java </span>
		<span class="tags"> Web Development </span>
		<span class="tags"> Web Development </span>
		<span class="tags"> Web Development </span>
		<span class="tags"> Programming </span>
		<span class="tags"> Ruby on Rails </span>
		<span class="tags"> Programming </span>
		<span class="tags"> See All Courses </span>
	</div>
</div>
